{% set page_title = paper.title %} {% extends "base.html" %} {% block head %} {{
super() }}
<meta name="citation_title" content="{{paper.title}}" />
{% for author in paper.authors %}
<meta name="citation_author" content="{{author}}" />
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}" />
<meta
    name="citation_conference_title"
    content="{{config.tagline|striptags|title}}"
/>
<meta name="citation_inbook_title" content="{{config.proceedings_title}}" />
<meta name="citation_abstract" content="{{paper.abstract}}" />
{% for keyword in paper.keywords %}
<!-- <meta name="citation_keywords" content="{{keyword}}" /> -->
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.pdf_url|default('') }}" />

{% endblock %} {% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
    <div class="card-header">
        <h2 class="card-title main-title text-center" style="">
            {{paper.title}}
        </h2>
        <h3 class="card-subtitle mb-2 text-muted text-center">
            {% for author in paper.authors %}
            <a
                href="papers.html?filter=authors&search={{author}}"
                class="text-muted"
                >{{author}}</a
            >{{ "," if not loop.last }} {% endfor %}
        </h3>
        <p class="card-text text-center">
            <!-- <span class="">Keywords:</span>
            {% for keyword in paper.keywords %} -->
            <!-- <a
                href="papers.html?filter=keywords&search={{keyword}}"
                class="text-secondary text-decoration-none"
                >{{keyword}}</a -->
            <!-- >{{ "," if not loop.last }} {% endfor %} -->
        </p>
        <div class="text-center p-3">
            <!-- <a
                class="card-link"
                data-toggle="collapse"
                role="button"
                href="#details"
            >
                Abstract
            </a> -->
            <a class="card-link" target="_blank" href="{{paper.paper_link}}">
                Paper
            </a>
            {% if paper.code_link != blank %}
            <a href="{{paper.code_link}}" target="_blank" class="card-link">
                Code
            </a>
            {% endif %}
        </div>
    </div>
</div>
<div id="details" class="pp-card m-3">
    <div class="card-body">
        <div class="card-text">
            <div id="abstractExample">
                <span class="font-weight-bold">Abstract:</span>
                {{paper.abstract}}
            </div>
        </div>
        <p></p>
    </div>
</div>

<!-- <div id="pdf-view"></div> -->

<canvas id="pdf-view"></canvas>
<!-- add pills -->
<div class="tabs">
    <ul class="nav nav-pills">
        <li class="nav-item active">
            <a class="nav-link text-muted" onclick="setPill(pdf)"> PDF </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted"> Poster </a>
        </li>
    </ul>
</div>

<!-- <iframe
    src="{{paper.pdf_url}}"
    id="pdf_view"
    width="100%"
    height="800px"
></iframe> -->

<div id="poster_view" style="display: none">
    <img src="{{paper.poster_link}}" width="100%" />

    <!-- <div role="main" id="pdf_view"></div> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.3.200/build/pdf.min.js"></script> -->
    <script
        src="https://mozilla.github.io/pdf.js/build/pdf.mjs"
        type="module"
    ></script>
    <script src="static/js/modules/pdfRender.js"></script>
    <script type="module">
        var { pdfjsLib } = globalThis;

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc =
            "//mozilla.github.io/pdf.js/build/pdf.worker.mjs";
        var HOSTED_VIEWER_ORIGINS = [
            "null",
            "http://127.0.0.1:5000",
            "http://mozilla.github.io",
            "https://mozilla.github.io",
            "https://archives.ismir.net",
            "http://archives.ismir.net",
        ];

        var currentPill = "pdf";
        function setPill(pill) {
            if (pill == "pdf") {
                $("#pdf_view").show();
                $("#poster_view").hide();
            } else {
                $("#pdf_view").hide();
                $("#poster_view").show();
            }
            currentPill = pill;
        }

        var url = "{{paper.pdf_url}}";

        var loadingTask = pdfjsLib.getDocument(url);
        loadingTask.promise.then(
            function (pdf) {
                console.log("PDF loaded");

                // Fetch the first page
                var pageNumber = 1;
                pdf.getPage(pageNumber).then(function (page) {
                    console.log("Page loaded");

                    var scale = 1.5;
                    var viewport = page.getViewport({ scale: scale });

                    // Prepare canvas using PDF page dimensions
                    var canvas = document.getElementById("pdf-view");
                    var context = canvas.getContext("2d");
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;

                    // Render PDF page into canvas context
                    var renderContext = {
                        canvasContext: context,
                        viewport: viewport,
                    };
                    var renderTask = page.render(renderContext);
                    renderTask.promise.then(function () {
                        console.log("Page rendered");
                    });
                });
            },
            function (reason) {
                // PDF loading error
                console.error(reason);
            },
        );

        // $(document).ready(() => {
        //     console.log("{{ paper }}");
        //     console.log("{{ paper.pdf_url }}");

        //     // render first page of PDF to div
        //     // PDF name can be bound to variable -- e.g. paper.content.poster_link
        //     const pdfFile =
        //         " {{ paper.pdf_url | default(config.default_poster_pdf) }}";
        //     initPDFViewer(pdfFile, "#pdf_view");
        // });
    </script>

    {% endblock %}
</div>

<style>
    #pdf-view {
        border: 1px solid black;
        direction: ltr;
    }
</style>
