{% set active_page = "Schedule" %}
{% set page_title = "Schedule" %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include 'schedule_head.html' %}
{% endblock %}

<!-- {% block tabs %}
{{ components.tabs([("calendar", "Calendar", "active")])}}
{% endblock %} -->

{% block content %}

<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", async function() {
     const events = await API.getPreConf();
     const calendarEl = document.getElementById("calendar_preconf");
     console.log(calendarEl);
     console.log(events);
     const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'timeGridPreConf',
      events: events,
      views: { 
        timeGridPreConf: { 
          type: 'timeGrid', 
          duration: { days: 3 },
          buttonText: 'Pre-Conference'
        }
      },
      initialDate: "2024-10-28",
     });
     calendar.render();
     // update localTime with timezone
      const localTime = document.getElementById("localTime");
      localTime.innerHTML = moment.tz.guess();
     lazyLoader();
   });
</script>
<div class="tab-content py-1 px-1 px-sm-0" id="nav-tabContent">
  <!-- Calender tab -->
  <!-- <div
    class="tab-pane active"
    id="tab-calendar"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  > -->
    <!-- <div class="form-group col">
      <label for="tzOptions">Timezone:</label>
      <select id="tzOptions" class="selectpicker" data-live-search="true">
      </select>
    </div> -->

    <!-- full cal for browser-->
    <!-- <div id="calendar_preconf" class="d-none d-sm-block"></div> -->
    <div id="calendar_preconf" class="d-sm-block"></div>

    <br/> 
    <p> Times are shown in your local timezone: <span id="localTime"></span></p>

    <!-- small cal for smart phones-->
    <!-- <div id="calendar_small" class="d-sm-none"></div> -->

  </div>


</div>
{% endblock %}
