{% set page_title = session.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-left">
      {{session.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{session.speakers}}
    </h3>
    <div class="text-left" id="start_end">
     <b>Start: {{ session.start }} </b> - <b> {{ session.end }} </b> <br />
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{session.abstract|safe}} <br /><br />       
      </div>
    </div>
    <p></p>
  </div>
</div>

<script> 
    console.log(moment);
    const currentTz = moment.tz.guess();
    console.log(currentTz);
    const start = moment.tz("{{ session.start }}", currentTz);
    const end = moment.tz("{{ session.end }}", currentTz);
    console.log(start);

    const start_end = document.getElementById("start_end");
    start_end.innerHTML = `<b> Start: </b> ${start.format('MMMM Do YYYY, h:mm:ss a')}<br/><b> End: </b> ${end.format('MMMM Do YYYY, h:mm:ss a')}` ;
    
</script>

{% endblock %}

